/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
}

.logo {
    opacity: 0.8;
    cursor: pointer;
    width: 50px;
    margin-right: auto;
}

.logo:hover {
    opacity: 1.0;
    transition: all 0.3s ease 0s;

}

li, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #dfe2e6;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #fff;
    font-weight: 700;
}

button {
    margin-left: 20px;
    padding: 8px 24px;
    font-weight: 400;
    background-color: rgb(53,50,44,1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(53,50,44,0.7);
    font-weight: 700;
}

footer {
    background-color: black;
    position: fixed;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
}

footer p {
    font-family: 'Roboto', sans-serif;
    color: #dfe2e6;
    text-align: center;
    font-size: 12px;
    padding: 14px;
    margin: 0;
    cursor: pointer;
}

.fa-heart {

    color: red;
    padding: 0 2px;
}
