/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f6f7;
}

header {
    background-color: black;
    position: fixed;
    left:0px;
    right:0px;
    top:0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 14px 10%;
}

.logo {
    opacity: 0.8;
    cursor: pointer;
    width: 50px;
    margin-right: auto;
}

.logo:hover {
    opacity: 1.0;
    transition: all 0.3s ease 0s;

}

li, a, .cta {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #dfe2e6;
    text-decoration: none;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #fff;
    font-weight: 700;
}

.cta {
    margin-left: 20px;
    padding: 8px 24px;
    font-weight: 400;
    background-color: rgb(53,50,44,1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: rgb(53,50,44,0.7);
    font-weight: 700;
}

.banner {
    height: 240px;
    width: 100%;
    background-image: url("coffee-photo.jpg");
    background-color: rgb(53,50,44,1);
    background-position: center;
    background-size: cover;
    margin-top:78px;
    transition: all 0.3s ease 0s;
}

.banner:hover{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle; 
    transition: all 0.3s ease 0s;
}


h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 4em;
    text-align: center;
    color: #fff;
    background-color: rgb(53,50,44,0.45);
    height: 140px;
    padding-top: 50px;
       
}

h3 {
    font-family: 'Staatliches', sans-serif;
    font-size: 2em;
    padding-top: 60px;
    padding-bottom: 20px;
    color: rgb(53,50,44,0.9);

}

.blog-post {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .blog-post {
        margin-left: 10%;
        margin-right: 10%;
    }
}

#post-title {
    padding-top: 50px;
    color: rgb(255,255,255,0.9);
    background-image: url("who-are-you.jpg");
    background-position: center;
    background-size: cover;
    background-color: rgb(53,50,44,0.45);
    margin-top:78px;
    height:200px;
}

#post-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    line-height: 1.8em;
    padding-bottom: 30px;

}

.text-paragraph {
    padding-top: 28px;
}

.source {
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: rgb(53,50,44,0.45);
}

.source-link {
    color: rgb(51, 119, 255,1);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    color: #dfe2e6;
    height: 100px;
    background-color: rgb(53,50,44,0.45);
}

/* Article */

.container {
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    display: grid;
    grid-gap: 28px;
    margin: auto;
    justify-content: center;
    padding-top: 28px;
    margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .container {
        grid-template-columns: 45% 45%
    }
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 90%;
    }
}


.card {
    font-family: 'Roboto', sans-serif;
    background-color: #eaecef;
    border-radius: 5px;
    padding: 14px;
    display: grid;
    grid-template-columns: repeat(auto-fill);
    grid-gap: 14px;
    transition: all 0.3s ease 0s;
}

.card:hover {
    -webkit-box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.14);
    transition: all 0.3s ease 0s;
}

.card h2, .card p {
    padding-bottom: 14px;
    color: rgb(53,50,44,0.9);     
}

.read {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    background-color: rgb(51, 119, 255,1);
    padding: 8px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.read:hover {
    background-color: rgb(7, 88, 251,1);
}

/* Footer */

footer {
    background-color: black;
    position: fixed;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
}

footer p {
    font-family: 'Roboto', sans-serif;
    color: #dfe2e6;
    text-align: center;
    font-size: 12px;
    padding: 14px;
    margin: 0;

}

footer a {
    text-decoration: none;
}

.fa-heart {

    color: red;
    padding: 0 2px;
}
